<nav><h1 class="nav-logo">{{title}}</h1></nav>

<div class="input-container">
  <h2 class="header-text">you should add new things to-do</h2>
  <input [(ngModel)]="newToDo" class="todo-input"type="text" placeholder="new to-do">
  <button (click)="addToDo()" class="submit-button">add to-do</button>
  <div class="todos-container">  
    <ul class="todo-list">
      <li *ngFor="let td of todos; let i = index">
        {{td}}
        <button (click)="deleteToDo(i)" class="submit-button">delete</button>
      </li>
  </ul></div>
</div>